@{
  Layout = "_Layout";
}

@using BestRestaurants.Models
@model BestRestaurants.Models.Cuisine

<h2>You have selected: @Model.Style Style!</h2>
<hr>

<ul>
  @foreach(Restaurant restaurant in @Model.Restaurants)
  {
    <li>@restaurant.Name</li>
  }
</ul>

<p>@Html.ActionLink("Show all Cuisines!", "Index")</p>
<p>@Html.ActionLink("Go Home?", "Index", "Home")</p>